<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:model.properties"/>
    <bean id="carDiselBean"
          class="ru.com.ibs.homerwork3.DiselEngine">
    </bean>
    <bean id="carPetrolBean"
          class="ru.com.ibs.homerwork3.PetrolEngine">
    </bean>
    <bean id="carElectroBean"
          class="ru.com.ibs.homerwork3.ElectroEngine">
    </bean>

    <bean id="modelBean"
    class="ru.com.ibs.homerwork3.Model"
    scope="prototype">
        <property name="carsList" >  <list>
                                        <ref bean="carDiselBean" />
                                        <ref bean="carPetrolBean" />
                                        <ref bean="carElectroBean" />
                                    </list>

        </property>
        <property name="mark" value="${Model.mark}"/>
        <property name="strong" value="${Model.strong}"/>

    </bean>

</beans>