<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model</title>
</head>
<body>
<h3>Model car</h3>
<p><Button onclick="window.location.href='/electro'" >Electro</Button></p>
<p><Button  onclick="window.location.href='/disel'" >Disel</Button></p>
<p><Button  onclick="window.location.href='/petrol'" >Petrol</Button></p>
<p><Button  onclick="window.location.href='/hello'" >just Hello</Button></p>
<p><Button  onclick="window.location.href='/hello?a=15&b=3&doing=add'" >hard Hello</Button></p>
</body>
</html>